[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask = "*"
flask-cors = "*"
python-dotenv = "*"
cloudinary = "*"
flask-pymongo = "*"
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"
pycryptodomex = "*"
twilio = "*"
flask-jwt-extended = "*"
sib-api-v3-sdk = "*"
pyotp = "*"

[dev-packages]

[requires]
python_version = "3.10"
